templates
app.py
balanced_house_data.csv
cleaned_balanced_house_data_with_class.csv
cleaned_balanced_house_data.csv
cleaned_house_data.csv
knn_bathrooms_classifier.pkl
knn_bedrooms_classifier.pkl
knn_classifier.pkl
knn_energy_regressor.pkl
knn_energy_regressor.pkl
knn_price_category_classifier.pkl
knn_price_regressor.pkl
knn_regressor_model_temp.joblib
knn_regressor.pkl
models.py
preprocessed_house_data.csv
raw_house_data.csv
test.ipynb
test1.ipynb
tested.csv
